[user]
	name = Alastair Lynn
	email = arplynn@gmail.com
[pack]
	threads = 16
    compression = 9
[advice]
    statusHints = false
    detachedHead = false
[color]
	branch = true
	diff = true
	grep = true
	interactive = true
	pager = true
	status = true
	showbranch = true
	ui = true
[core]
	editor = vim
[alias]
	br = branch
	c = commit
	cs = commit -s
	ca = commit --amend
	pd = pull
	pu = push
	a = add
	i = add --interactive
	p = add --patch
	s = status -sb
	r = rm
	co = checkout
	l = log
	st = stash
	m = merge
	rst = reset
	t = tag
	ff = merge --ff-only
	ffp = pull --ff-only
	d = diff
	dc = diff --cached
	bl = blame
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = matching
[rerere]
	enabled = true
	autoupdate = true
[gist]
	private = yes
	browse = no
